<!DOCTYPE html>
<div class="navbar navbar-expand">
  <a class="navbar-brand" href="https://codingandcocktailskc.herokuapp.com"><img src={{logoImageUrl}} alt="Coding And Cocktails" id="logoImg"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto mr-4">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#drinksDiv">Drinks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#aboutDiv">About Us</a>
      </li>
    </ul>
  </div>
  <a href="https://twitter.com/intent/tweet?text=A cocktail website in Angular web project at @CodeCocktailsKC 's 2018 CodeJam!&amp;hashtags=LadyDevs&amp;url=https://coding-cocktails.herokuapp.com/&amp;"><i class="fab fa-twitter"></i></a>
</div>
<div class="intro">
  <div id="kcWomen">KC Women in Tech</div>
  <div id="presents">PRESENTS</div>
  <div id="kcCoding">Coding & Cocktails</div>
</div>
