<div class="about">
<div class="container">
  <h2>About us</h2>
  <div class="d-flex flex-row bd-highlight mb-3">
  <div class="card p-2 bd-highlight profile my-2" style="width: 16rem;">
      <img class="card-img-top centered-and-cropped" src="../../assets/images/profile-amy.png" alt="Amy">
      <div class="card-body">
        <h5 class="card-title">Amy</h5>
        <a target="_blank" href="https://twitter.com/AmyNorris?lang=en" class="btn btn-outline-light">Cheers!</a>
      </div>
    </div>
    <div class="card p-2 bd-highlight profile my-2" style="width: 16rem;">
        <img class="card-img-top centered-and-cropped" src="../../assets/images/profile-calliehart.jpg" alt="Callie">
        <div class="card-body">
          <h5 class="card-title">Callie</h5>
          <a href="#" class="btn btn-outline-light">Cheers!</a>
        </div>
      </div>
      <div class="card p-2 bd-highlight profile my-2" style="width: 16rem;">
          <img class="card-img-top centered-and-cropped" src="../../assets/images/profile-keen.jpg" alt="Keen">
          <div class="card-body">
            <h5 class="card-title">Keen</h5>
            <a href="#" class="btnbtn-outline-light">Cheers!</a>
          </div>
        </div>
        <div class="card p-2 bd-highlight profile my-2" style="width: 16rem;">
            <img class="card-img-top centered-and-cropped" src="../../assets/images/profile-mellissa.png" alt="Melissa">
            <div class="card-body">
              <h5 class="card-title">Melissa</h5>
              <a href="#" class="btn btn-outline-light">Cheers!</a>
            </div>
          </div>
    </div> <!-- End Flex -->


</div>
</div>