<div class="about" id="aboutDiv">
  <div class="container">
    <h2>About us</h2>
    <div class="d-flex flex-row bd-highlight ">
      <div class="card p-2 bd-highlight profile mr-3 mb-3 text-center" style="width: 16rem;">
        <div class="circle">
          <img class="card-img-top profile-pic centered-and-cropped" src={{amyImageUrl}} alt="Amy">
        </div>
        <div class="card-body text-center">
          <h5 class="card-title">Amy</h5>
          <a href="https://twitter.com/AmyNorris?lang=en" class="btn btn-outline-light">Cheers!</a>
        </div>
      </div>
      <div class="card p-2 bd-highlight profile mr-3 mb-3" style="width: 16rem;">
        <div class="circle">
          <img class="card-img-top profile-pic centered-and-cropped" src={{callieImageUrl}}
            alt="Callie">
        </div>
        <div class="card-body text-center">
          <h5 class="card-title">Callie</h5>
          <a href="https://calliehart.github.io/" class="btn btn-outline-light">Cheers!</a>
        </div>
      </div>
      <div class="card p-2 bd-highlight profile mr-3 mb-3" style="width: 16rem;">
        <div class="circle">
          <img class="card-img-top profile-pic centered-and-cropped" src={{keenImageUrl}} alt="Keen">
        </div>
        <div class="card-body text-center">
          <h5 class="card-title">Keen</h5>

          <a href="https://keenwilson.com/" class="btn btn-outline-light">Cheers!</a>
        </div>
      </div>
      <div class="card p-2 bd-highlight profile mr-3 mb-3" style="width: 16rem;">
        <div class="circle">
          <img class="card-img-top profile-pic centered-and-cropped" src={{melissaImageUrl}} alt="Melissa">
        </div>
        <div class="card-body text-center">
          <h5 class="card-title">Melissa</h5>
          <a href="http://suitemel.com/" class="btn btn-outline-light">Cheers!</a>
        </div>
      </div>
    </div> <!-- End Flex -->


  </div>
</div>