/* HeroesComponent's private CSS styles */
.cocktail-list {
  /* position: relative; */
  
  position: relative;
  width: 100%;
  padding: 1em 3em;

}

.cocktail-list::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #666b8f;
  z-index: -2;
}

.cocktail-list__item {
  display: block;
  position: relative;
  margin: 1em;
  padding: 1em;
  border: 1px solid #FFF;
  background-color: #ba99c0;
  color: #FFF;
  text-align: center;
}

.cocktail-list__item-name {
  position: relative;
  display: block;
  color: #FFF;
  cursor: pointer;
  /* z-index: 1; */
}

.cocktail-list__item-name:hover {
  color: #DDDDDD;
  text-decoration: none;
}

.cocktail-list__item:before, .cocktail-list__item:after{
	content: '.';
	text-indent: -9999em;
	height: 0;
	width: 0;
	border-style: solid;
	border-width: 28px;
	position: absolute;
	left: -45px;
	top: 10px;
	display: block;
	z-index: -1;
}

.cocktail-list__item:before{
	border-color: #ba99c0 #ba99c0 #ba99c0 transparent; /* bg color for left side of ribbon */
}

.cocktail-list__item:after{
	border-color: #ba99c0 transparent #ba99c0 #ba99c0; /* bg color for right side of ribbon */
	right: -45px;
	left: auto;
}

.cocktails-list__details {
  padding: 1em 4em;
  background-color: #666b8f;
  color: #FFF;
}

.cocktails-list__details__title {
  text-align: center;
  letter-spacing: 3px;
}

.cocktails-list__details__item {
  text-align: center;
  list-style: none;
}