<div class="cocktail-list" id="drinksDiv">

  <ul>
    <li class="cocktail-list__item" *ngFor="let cocktail of cocktails" [class.selected]="cocktail === selectedCocktail"
      (click)="onSelect(cocktail)">
      <span class="cocktail-list__item-name">{{cocktail.name}}</span>
    </li>
  </ul>
</div>

<div class="cocktails-list__details" *ngIf="selectedCocktail">
    <h2 class="cocktails-list__details__title">{{selectedCocktail.name | uppercase}}</h2>
<div class="row d-flex justify-content-center">
  
  <div class="circle">
    <img class="profile-pic centered-and-cropped" src={{selectedCocktail.imageURL}} alt={{selectedCocktail.name}}>
  </div>
</div>

  
  <div>
    <ul>
      <li class="cocktails-list__details__item" *ngFor="let ingredient of selectedCocktail.ingredients">{{ingredient}}</li>
    </ul>

  </div>

</div>